@charset "UTF-8";
body{
	margin:0;
	padding:0;
}
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}
table{
	width:100%;
	border-collapse: collapse;
}
th, td{
	padding: 15px;
	text-align: left;
	font-size:15px;
	border-bottom: 1px solid #ddd;
}
h1{text-align: center;}